/** 
  RESET CSS
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/** 
  BASE STYLES
 */

:root {
  --color-bg: white;
  --color-fg: hsl(0, 0%, 15%);
  --color-fg-mute: hsl(0, 0%, 45%);
  --color-border: pink;

  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;

  --text-spacing-m: 1rem;

  --fontsize-s: 0.8rem;
  --fontsize-m: 1rem;

  --grid-border: 2px solid var(--color-border);
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theming */
  color: var(--color-fg);
  background-color: var(--color-bg);
  font-size: 16px;
  line-height: 1.5;
  font-family: Inter, sans-serif;
}

/**
  UTILS
 */

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.label {
  font-size: var(--fontsize-m);
}
