/** 
  RESET CSS
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/** 
  BASE STYLES
 */

:root {
  --color-fg-default: white;
  --color-fg-black: hsl(0, 0%, 15%);
  --color-fg-mute: hsl(0, 0%, 45%);
  --color-bg-default: hsl(188, 20%, 40%);
  --color-bg-white: white;

  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;

  --text-spacing-m: 1rem;

  --fontfamily-headline: 'Zalando Sans Expanded', sans-serif;
  --fontfamily-body: 'Zalando Sans', sans-serif;

  --fontsize-s: 0.8rem;
  --fontsize-m: 1rem;
  --fontsize-l: 1.5rem;
  --fontsize-xl: 2rem;

  --normal: 400;
  --semibold: 600;
  --bold: 800;

  --grid-border: 2px solid var(--color-bg-default);
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theming */
  color: var(--color-fg-default);
  background-color: var(--color-bg-default);
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--fontfamily-body);
  font-weight: var(--normal);
}

h1,
h2,
h3,
.headline {
  font-family: var(--fontfamily-headline);
  font-weight: var(--semibold);
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-fg-default);
}

/**
  UTILS
 */

.neutral-font {
  font-family: Inter, sans-serif;
}

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
